.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  padding: 32px 24px;
  background: var(--color-white);
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}
