.section {
  display: inline-block;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--primary-color);
  text-align: center;
  padding: 0 48px;
}

.title {
  display: block;
  margin: 16px 0 8px;
  font-weight: 600;
  color: var(--color-dark);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.time {
  display: block;
  margin: 16px 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}
