:root {
  --primary-color: #ac8cff;
  --secondary-color: #c9b5fb;
  --font-color: #333333;
  --background-color-light: #d3dde5;
  --background-color: #ede7ff;
  --color-white: #ffffff;
  --color-dark: #2d2d2d;
  --color-error: #e74c3c;
  --color-border: #e0d7f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: Helvetica, sans-serif;
  padding: 72px 24px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  body {
    padding: 24px 12px;
  }
}
